<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728104648644-olqaccqejqn8j39h8vimdhp72verkjj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728104648644-olqaccqejqn8j39h8vimdhp72verkjj0</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0uLMWJuDTIO7Mlh6ZTj5BVsE6jMAcnw</string>
	<key>GCM_SENDER_ID</key>
	<string>728104648644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kazEvents.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kazevent-43ca4</string>
	<key>STORAGE_BUCKET</key>
	<string>kazevent-43ca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728104648644:ios:3f6e20ba7307dbd2fbee91</string>
</dict>
</plist>